* {
     margin: 0;
     padding: 0;
}

.container {
     background-color: rgb(242, 236, 236);
     width: fit-content;
     padding: 20px 80px;
     margin: 0 auto;
     margin-top: 20px;
     display: grid;
     align-items: center;
     border-radius: 5px;
}

.times {
     margin-top: 20px;
}

select {
     padding: 10px;
     border-radius: 5px;
     margin: 0 10px;
}

button {
     width: fit-content;
     margin: 0 auto;
     margin-top: 20px;
     padding: 10px 30px;
     cursor: pointer;
}

h3 {
     margin: 20px auto;
     font-size: 30px;
}

.hide {
     opacity: 0.6;
     pointer-events: none;
}
